@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

// Introloader
#element { z-index: 15000; background: darken($brand-primary, 55%); }
.doubleLoader.theme-light {
    .doubleLoaderTop,
    .doubleLoaderBottom {
        background-color: #000;
    }
    .doubleLoaderProgBar {
        background-color: darken($brand-primary, 35%);
    }
    .doubleLoaderProgBar span {
        background-color: $brand-primary;
    }
}

/* --------- Navigation --------- */

.primary_navigation { border-top: 0; border-bottom: 30px solid $brand-primary; }
@media (max-width: $screen-xs-max) {
	.primary_navigation {
		border-bottom: 15px solid $brand-primary;
	}
 }

.secondary_navigation {
	font-size: 14px;
	z-index: 100;
	width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: #000;
    color: #fff;
	> div { display: inline-block; }
	> div:first-child {
		padding: 6px 0 6px 12px;
	}
}
@media (max-width: 480px) {
	.secondary_navigation {
		height: 48px;
	}
	body.home .secondary_navigation,
	body.page-id-26 .secondary_navigation,
	body.preise .secondary_navigation,
	body.zeitstrahl .secondary_navigation,
	body.about .secondary_navigation,
	body.kontakt .secondary_navigation,
	body.archive.category .secondary_navigation,
	body.impressum .secondary_navigation {
	    height: 30px;
	}
}
@media (max-width: 239px) {
	.secondary_navigation {
		height: 66px;
	}
	body.home .secondary_navigation {
	    height: 30px;
	}
}

/* --------- Breadcrumbs --------- */

.breadcrumbs {
	display: inline-block;
	height: 100%;
	color: #fff;
	line-height: 130%;
	a { color: #9d9d9d; }
	a:hover { color: #fff; }
	.trennzeichen { color: #595959; }
}

/* --------- Suche Top --------- */

.search-top-button, .search-top-field { background: #000; border: 0px solid #000!important; height: 30px; }
.search-top-button { border-left: 0; }
.search-top-field {
	border-right: 0;
	width: 35ex;
	color: #fff;
}

/* --------- Navbar --------- */

.navbar-nav { margin-top: 2px; }
.navbar-brand { margin-bottom: 4px; }
.navbar-toggle { margin-right: 40px; }

/* --------- Hilfsklassen --------- */

.nopadding { padding: 0!important; }
.inline { display: inline; line-height: 100%; }
.font-white { color: #fff; }
.transition-0-2-ease {
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.vertical-middle { vertical-align: middle; }
.div-table { display: table; }
.div-table-row { display: table-row; }
.div-table-cell { display: table-cell; }

.gradient-horizontal {
	background: url('../../../../uploads/hintergrund-streifen.png'), linear-gradient(to right, #2c0808 0%,#000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c0808', endColorstr='#000000',GradientType=1 );
}

.text-box {
	padding: 2rem;
	background: rgba(0, 0, 0, 0.6);
	transition: all 0.5s ease; 
}

.u { border-bottom: 1px solid white; }
.eur { font-weight: normal; }
.spiegel { transform: scaleX(-1); }

.size-post-thumbnail:hover {
    transform: scale(1.03);
}

h1, img.logo-wolfzeit-knopf { cursor: pointer; }
img.logo-wolfzeit-knopf {
    width: 300px;
    max-width: 100%;
}


.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;
}

.flex-item-front-page {
    height: 350px;
    width: 330px;
    padding: 0;
    margin: 20px auto 20px auto;
    text-align: left;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-weight: bold;
    p {
        width: 100%;
        position: absolute;
        bottom: 0;
        font-size: 12pt;
        text-align: center;
    }
    img {
    	max-width: 100%;
        bottom: 20%;
        position: absolute;
    }
}

.front-page--icon-container {
	position: relative;
	visibility: hidden;
	top: 0;
	left: 0;
	right: 0;
	height: 1px;
	opacity: 0;
	z-index: 20;
}

/* --------- Fotografieliste --------- */
.fotografie-liste {
	font-size: 36px;
}


/* --------- Preise --------- */

body.preise .content {
    background: url('../../../..//uploads/preise-voegel-im-abendrot.jpg') 50% 50% / cover no-repeat;
    text-shadow: 0 1px 1px #000;
    & h2 {
        color: #fff;
        margin-bottom: 1rem;
    }
}

/* --------- About --------- */

body.about .main {
    background: url('../../../../uploads/portrait-gabriel-mit-crew.jpg') 50% 17% / cover no-repeat;
    & h1 {
        text-shadow: 0 1px 1px #000;
        color: #fff;
    }
    & .collapse {
		@extend .text-box;	
    }
}

/* --------- Kontaktformular --------- */

//[alt="captcha"], .ajax-loader { filter: invert(); }
.wpcf7-not-valid-tip { color: #f00!important; }
#captcha { display: inline-block; margin: 0 auto; }


/* --------- RoyalSlider --------- */

.royalSlider { text-align: left; }
.visibleNearbyZoom { padding: 0; }

/* --------- Für alle Seiten mit der Thumbnailleiste --------- */

.table-infinite {
	display: table;
	border-collapse: separate;
	border-spacing: 10px;
	width: 100%;
	> div {
		display: table-row;
		text-align: center;
		> div {
			display: table-cell;
			text-align: center;
			vertical-align: bottom;
			min-width: 330px;
			> div {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				> div:first-child {
					flex-grow: 2;
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.table-infinite > div > div > {
		min-width: 300px;
	}
}
